<% no = $data["td"]["active"] %>
<div id="preloader">
	<img src="/gfx/icon-x-hover.svg" width="1" height="1" alt="">
</div>
<div id="menu">
<ul>
	<li><a href="/">TD#<%=no%></a></li>
	<li><a href="/about">sve_o_nama</a></li>
	<li><a href="/arhiva">arhiva</a></li>
	<li><a href="#" onclick="toggle();return false;">prijavi_i_prati</a></li>
</ul>
</div>
<div class="topbox" id="follow">
<div class="btn-close" onclick="toggle();return false;"></div>
<br>
<p>
	Pratite Tehnološki Doručak na
	<a href="https://twitter.com/heap_space" target="_blank">Twitteru</a>.
</p>

<br><br>

<p>
	<a href="https://heapspace.typeform.com/to/RXjEVf" class="button" target="_blank">Prijavite vaš projekat!</a>
</p>

</div>
