<% no = $data["td"]["active"] %>
<div id="preloader">
	<img src="/gfx/icon-x-hover.svg" width="1" height="1" alt="">
</div>
<div id="menu">
<ul>
	<li><a href="/">TD#<%=no%></a></li>
	<li><a href="/about">sve_o_nama</a></li>
	<li><a href="/arhiva">arhiva</a></li>
	<li><a href="#" onclick="toggle();return false;">prijavi_i_prati</a></li>
</ul>
</div>
<div class="topbox" id="follow">
<div class="btn-close" onclick="toggle();return false;"></div>
Pratite Tehnološki Doručak na
Twitteru i Meetup.

Prijavite se na
mejling listu da dobijeta

</div>
