<% no = $data["td"]["active"] %>
<div id="preloader">
	<img src="/gfx/icon-x-hover.svg" width="1" height="1" alt="">
</div>
<div id="menu">
<ul>
	<li><a href="/">#techdorucak</a></li>
	<li><a href="/o_dorucku">#o_doručku</a></li>
	<li><a href="/arhiva">#arhiva</a></li>
	<li><a href="/tim">#tim</a></li>
	<li><a href="#" onclick="toggle();return false;">#kontakt</a></li>
</ul>
</div>
<div class="topbox" id="follow">
<div class="btn-close" onclick="toggle();return false;"></div>

<br>
<p>
	Pratite Tehnološki doručak na
	<a href="https://twitter.com/heap_space" target="_blank">Twitteru</a> (#techdorucak).
</p>

<br>
<p>
	Pišite nam na <a href="mailto:dorucak@heapspace.rs">dorucak@heapspace.rs</a>.
</p>

<br>
<p>
	<a href="https://heapspace.typeform.com/to/RXjEVf" class="button" target="_blank">Prijavite vaš projekat!</a>
</p>

</div>
