<!DOCTYPE html>
<html>
<head>
	<%= render '/_header.html', :title => 'Default title'%>
	<%= meta_tag :keywords %>
</head>
<body>
<%= render '/_menu.html' %>

<%
	keys = Array.new
	$data.each do |id, td|
		if id.include? "-"
			keys << id
		end
	end
	keys.sort
%>

	<header>
	<h1><%= val(:title) || title %></h1>
	</header>

	<div id="outpage">
		<div id="page">
		<% keys.each do |id|
			td = $data[id]
		%>
			<div class="card">
			<a href="#">
				<div class="h1"><span class="title"><%= h(td["title"]) %></span> <span class="author">/<%= h(td["author"]) %></span></div>
				<div class="h2"><%= h(td["subtitle"]) %></div>
			</a>
			</div>
		<% end %>
		</div>
	</div>

	<%= render '/_footer.html'%>
</body>
</html>
