<!DOCTYPE html>
<html lang="sr">
<head>
	<%= render '/_header.html', :title => "Tehnološki doručak" %>
	<%= meta_tag :keywords %>
<script>

</script>
</head>
<body>
<%= render '/_menu.html' %>
<% no = $data["td"]["active"] %>
<% td = $data[no.to_s] %>
<header>
<h1>Tehnološki doručak #<%= no %></h1>
<h2><%= td["date"] %> | 8:00 | Parobrod</h2>
<h3><a href="<%= td['eventUrl'] %>" target="_blank">Prijavi dolazak</a></h3>
</header>

<!--div id="announcement">
Jubilarni 10. TD biće naročito ukusan! Torta iz <a href="http://mandarinacakeshop.rs/" target="_blank">Mandarine</a> vas čeka! Mljac!
</div-->

<div class="items">
  <%= render '/_item.html', :id => '12-1' %>
  <%= render '/_item.html', :id => '12-2' %>
  <%= render '/_item.html', :id => '12-3' %>
  <%= render '/_item.html', :id => '12-4' %>
  <%= render '/_item.html', :id => '12-5' %>
</div>

<div id="partneri">
<h3>Tehnološki doručak pomažu:</h3>
<p><a href="http://www.nescafe.rs" target="_blank">Nescafe</a> - toplo buđenje uz pravu kafu.</p>
<p><a href="http://www.ukparobrod.rs" target="_blank">Parobrod</a> - ustanova kulture bez koje se ne može.</p>
<p><a href="http://www.domacekiflice.rs" target="_blank">Domaće Kiflice</a> - ukusni slatki i slani zalogaji, po receptu naših baka.</p>
<p><a href="https://www.netlify.com" target="_blank">Netlify</a> - sve-u-jednom platforma za automatizaciju modernih web projekata.</p>
</div>

<%= render '/_breakfast_bar.html' %>
<%= render '/_footer.html' %>

</body>
</html>
