<!DOCTYPE html>
<html>
<head>
	<%= render '/_header.html', :title => "Index title" %>
	<%= meta_tag :keywords %>
<script>

</script>
</head>
<body>
<%= render '/_menu.html' %>
<% no = $data["td"]["active"] %>
<% td = $data[no.to_s] %>
<header>
<h1>Tehnološki doručak #<%= no %></h1>
<h2><%= td["date"] %> | 8:00 | Parobrod</h2>
<h3><a href="<%= td['eventUrl'] %>" target="_blank">Prijavi dolazak</a></h3>
</header>

<div class="items" style="z-index: 2;">
  <%= render '/_item.html', :id => '10-1' %>
  <%= render '/_item.html', :id => '10-2' %>
  <%= render '/_item.html', :id => '10-3' %>
  <%= render '/_item.html', :id => '10-4' %>
</div>

<%= render '/_breakfast_bar.html' %>
<%= render '/_footer.html' %>

</body>
</html>
