.box {
  position:relative;
  vertical-align: middle;
  cursor: pointer;
  border: 4px solid #333;
  transition: 0.5s;
  -webkit-transition:0.5s;
}
.box:hover {
  border: 4px solid rgba(0,160,80,0);
}
