@import "_reset";

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Roboto:300,600');

$font-serif: 'Libre Baskerville', serif;
$font-stack: 'Roboto', Helvetica, sans-serif;
///$font-serif: 'Playfair Display', serif;
//$font-stack: 'NeuzeitGro-Lig', Helvetica, sans-serif;

$primary-color: #2E2A28;
$focus-color: #ff5040;
$focus-color-alt: #fff;
$h2-color: #FFE140;
$h1-color: #f0f0f0;
$dots-color: #c8c1b4;
$paper-color: #f0f0f0;
$backy-color: #f0f0f0;

$break1: 1800px;
$break2: 1200px;
$break3: 640px;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body  {
	//height: 100%;
	width: 100%;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

html {
  font-size: 16px;
  @media (min-width: $break2) {
    font-size: 18px;
  }
  @media (min-width: $break1) {
    font-size: 20px;
  }
}
h1 { font-size: 3.125em; } 	// 50 รท 16 = 3.125
h2 { font-size: 2.3125em;} 	// 37 รท 16 = 2.3125
h3 { font-size: 1.75em; } 	// 28 รท 16 = 1.75
a {
	text-decoration: none;
	color: $focus-color;
	&:hover {
		color: $primary-color;
	}
}
strong {
	font-weight: bold;
}

#menu {
	background-color: $h1-color;
	padding: 6px 0 0 20px;
	position: absolute;

	@media (max-width: $break2) {
		position: relative;
	}

	li {
		float: left;
		text-align: center;
		padding: 0 14px 0 0;
		display: block;
		a {
			font-size: 1.1em;
			color: $primary-color;
			&:hover {
				color: $focus-color;
			}
		}
		@media (max-width: $break1) {
			font-size: 1em;
  		}
		@media (max-width: $break2) {
    		float: none;
    		text-align: left;
  		}
	}
}
.alt {
	h1, #menu {
		background-color: $h2-color;
	}
}
header {
	margin-top: 40px;
	padding: 0 0 20px 0;
	text-align: center;
	h1 {
		background-color: $h1-color;
		padding: 32px 0 28px 0;
	}
	h2 {
		background-color: $h2-color;
		width: 60%;
		position: relative;
		top: -16px;
		margin: auto;
		padding: 18px 0;
	}
	h3 {
		background-color: $focus-color;
		color: $focus-color-alt;
		width: 30%;
		position: relative;
		top: -26px;
		margin: auto;
		padding: 10px;
		a {
			display: block;
			color: $focus-color-alt;
			&:hover {
				color: $primary-color;
			}
		}
	}
}

.items {
	overflow: auto;
  	zoom: 1;
  	padding: 0 10px;
  	@media (max-width: $break2) {
    	padding: 0 10px 60px 10px;
  	}
  	.column {
		width: 25%;
		float: left;
		overflow: hidden;
		padding: 10px 10px;

		@media (max-width: $break2) {
    		width: 100%;
  		}

  	}
	.item {
		.speaker {
			z-index: -1;
			position: relative;
			text-align: right;
		}
		article a {
			background-color: $backy-color;
			display: block;
			border: 2px dashed #666;
			box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
			padding: 30px 20px;
			text-align: center;
			font-family: $font-serif;
			transition: 0.5s;
			-webkit-transition:0.5s;

			p {
				font-size: 1.4em;
				font-family: $font-serif;
			}
			color: $primary-color;
			&:hover {
				color: $primary-color;
				border: 2px solid #666;
				background-image: none;
				background-color:#fff;
				transition: 0s;
  				-webkit-transition: 0s;
  			}
			h1 {
				font-family: $font-serif;
				font-weight: bold;
			}
			hr {
				width: 50%;
				border: 0;
    			height: 1px;
    			background: #333;
    			background-image: linear-gradient(to right, #ccc, #333, #ccc);
    			margin-top: 30px;
    			margin-bottom: 30px;
			}
			h2 {
				font-family: $font-serif;
				font-style: italic;
				margin-bottom: 30px;
			}

			@media (max-width: $break2) {
				padding: 20px 10px;
				h1 {
					font-size: 2.2em;
				}
				h2 {
					font-size: 1.8em;
					margin-bottom: 15px;
				}
				hr {
					margin-top: 10px;
					margin-bottom: 10px;
				}
				p {
					font-size: 1.2em;
				}
			}
		}
	}
}

.topbox {
	display: none;
	position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 400px;
    margin-top: -200px;

	font-size:18pt;
	line-height:24pt;
	letter-spacing:0.4pt;
	color:black;
	background-color:white;
	overflow:hidden;
	padding:24px;
	padding-top:36px;

	a {border-bottom:1px solid red;}

	outline: 9999px solid rgba(0,0,0,0.5);
	z-index: 10000;

	text-align: center;
}

#outpage {
	background-color: $paper-color;
	font-size: 1.4em;

	#submenu {
		margin: 20px;
		float: left;
		ul {
			li {
				a {
					display:block;
				}
				padding: 10px;
			}
		}
	}
}

#page {
	padding: 40px 25% 80px 25%;
	p {
    	font-size: 1.1em;
    	line-height: 1.2em;
    	letter-spacing: 0.4pt;
		margin-bottom: 20px;
	}
	overflow: auto;
  	zoom: 1;

  	.partneri {
  		background-color: #fff;
  		text-align: center;
  		margin-top: 100px;
  	}

  	@media (max-width: $break2) {
		padding: 40px 10px 80px 10px;
	}
}

.btn-close {
    cursor: pointer;
    background: url(/gfx/icon-x.svg) 0px 0px no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 9px;
    right: 9px;
    &:hover {
    	background: url(/gfx/icon-x-hover.svg) 0px 0px no-repeat;
    }
}

#preloader {
	position: absolute;
	left: -9999px;
	top: -9999px;
}

.card {
	border: 1px dashed #666;
	box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);

	display: block;
	padding: 10px 20px;
	width: 100%;
	margin: 20px 0;
	background-color: #fafafa;
	a {
		color: $primary-color;
		display: block;
	}
	&:hover {
		background-color: #fff;
		border: 1px solid #666;
	}
	.circle {
		float: right;
		font-size: 0.8em;
		position: relative;
		top: -5px;
		left: 16px;
    	color: #aaa;
    	text-align: center;
	}
	.h1 {
		font-family: $font-serif;
		margin-bottom: 10px;
		span.title {
			font-size: 1.2em;
			font-weight: bold;
			color: $primary-color;
		}
		span.author {
			padding-left: 20px;
			font-size: 0.8em;
			color: #555;
		}
	}
	.h2 {
		font-size: 0.75em;
	}
}

footer {
	box-shadow: 0 0 0 4px #fff, 2px 1px 6px 4px rgba(10,10,0,0.5);
	background-color: #fff;
	border: 2px;
	padding: 10px;
	text-align: center;
	a {
		color: $focus-color;
		&:hover {
			color: $primary-color;
		}
	}
	position:fixed;
	bottom:0px;
	width: 440px;
	left: 50%;
    margin-left: -220px;
}

.shout {
	font-size: 1.2em !important;
}

a.button {
	display: block;
	background-color: $focus-color;
	color: #fff;
	padding: 20px;
	&:hover {
		color: $primary-color;
	}
	text-align: center;
}

#bfimgs {
	width: 50%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 80px;
	text-align: center;

	@media (max-width: $break2) {
    	display: none;
  	}
}
